@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container">

    <header class="header">
        <div class="row">
            <div class="col-md-2">
                <div class="logo-wrapper">
                    @Html.ActionLink("Game Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <nav class="nav col-md-10">
                <ul class="navigation-regis ">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Sing In", "Login", "Account")</li>
                        <li>@Html.ActionLink("Sing Up", "Register", "Account")</li>
                    }
                    else
                    {
                        <li>
                            <span class="user-name">Hi @User.Identity.Name</span>
                        </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                </ul>
            </nav>
            <nav class="col-md-12 navigatioln-block">
                <div class="center-block ">
                    <img class="img-responsive" src="~/Content/images/jumbotron/batelfield3_img1.jpg"/>
                    <ul class="navigation-page">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Games", "Games", "Home")</li>
                        <li>@Html.ActionLink("Ganres", "Genres", "Home")</li>
                        <li>@Html.ActionLink("Publishers", "Publishers", "Home")</li>
                        <li>@Html.ActionLink("Orders", "Orders", "Home")</li>
                        <li>@Html.ActionLink("My bucket", "MyBucket", "Home")</li>
                    </ul>
                </div>
               
            </nav>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year – GameStore</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
</body>
</html>
