@model IList<GameStore.BLL.DTO.GenreDTO>

<div>
    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "game-list" }))
    {
        foreach (var genre in Model.Where(g => g.ParentId == null))
        {
            <div class="sidebar-genre-item">
                <input type="checkbox" id="@genre.Name" value="@genre.Id">
                <label>@genre.Name</label>
                <div class="dropdown-subgenre-btn"></div>
            </div>
                if (genre.SubGenres != null)
                {
            <div class="subgenres">
                @foreach (var subgenre in genre.SubGenres)
                {
                    <div class="sidebar-genre-item">
                        <input type="checkbox" id="@subgenre.Name" value="@subgenre.Id">
                        <label>@subgenre.Name</label>
                    </div>
                }
            </div>

                }
                }
                <input type="submit" value="Filter" />
                }
            </div>