@model IList<GameStore.BLL.DTO.GenreDTO>

<div>
    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "game-list" }))
    {
        <ul class="genre-block">
            @foreach (var genre in Model.Where(g => g.ParentId == null))
            {
            <li class="sidebar-genre-item">
                <input type="checkbox" id="@genre.Name" value="@genre.Id">
                <label>@genre.Name</label>
                @if (genre.SubGenres.Count!=0)
                {
                    <span class="dropdown-subgenre-btn"></span>
                }
                

            </li>
                if (genre.SubGenres.Count != 0)
                {
            <li class="subgenres">
                @foreach (var subgenre in genre.SubGenres)
                {
                    <div class="sidebar-genre-item">
                        <input type="checkbox" id="@subgenre.Name" value="@subgenre.Id">
                        <label>@subgenre.Name</label>
                    </div>
                }
            </li>

            }
            }
            <input type="submit" value="Filter" class="filter-btn"/>
        </ul>
    }
       
    </div>